
.summaryContainer{
   h5{
    margin: 0;
   }
    .sItems{
        display: flex;
        // align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 13px;
        .sItem{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            li{
                width: 90%;
                list-style: none;
                padding-bottom: 5px;
                padding-top: 5px;
                border-bottom: solid lightgrey 0.5px;
            }
        }
    }
    
}